JSP and servlets/eval1/src/conf/xml-resources/web-service-references/WebService1/wsdl/localhost_8080/eval1_server/WebService1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://akash/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://akash/" name="WebService1">
<types>
<xsd:schema>
<xsd:import namespace="http://akash/" schemaLocation="http://localhost:8080/eval1_server/WebService1?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="name_check">
<part name="parameters" element="tns:name_check"/>
</message>
<message name="name_checkResponse">
<part name="parameters" element="tns:name_checkResponse"/>
</message>
<message name="bmi">
<part name="parameters" element="tns:bmi"/>
</message>
<message name="bmiResponse">
<part name="parameters" element="tns:bmiResponse"/>
</message>
<message name="date_check">
<part name="parameters" element="tns:date_check"/>
</message>
<message name="date_checkResponse">
<part name="parameters" element="tns:date_checkResponse"/>
</message>
<portType name="WebService1">
<operation name="hello">
<input wsam:Action="http://akash/WebService1/helloRequest" message="tns:hello"/>
<output wsam:Action="http://akash/WebService1/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="name_check">
<input wsam:Action="http://akash/WebService1/name_checkRequest" message="tns:name_check"/>
<output wsam:Action="http://akash/WebService1/name_checkResponse" message="tns:name_checkResponse"/>
</operation>
<operation name="bmi">
<input wsam:Action="http://akash/WebService1/bmiRequest" message="tns:bmi"/>
<output wsam:Action="http://akash/WebService1/bmiResponse" message="tns:bmiResponse"/>
</operation>
<operation name="date_check">
<input wsam:Action="http://akash/WebService1/date_checkRequest" message="tns:date_check"/>
<output wsam:Action="http://akash/WebService1/date_checkResponse" message="tns:date_checkResponse"/>
</operation>
</portType>
<binding name="WebService1PortBinding" type="tns:WebService1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="name_check">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bmi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="date_check">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService1">
<port name="WebService1Port" binding="tns:WebService1PortBinding">
<soap:address location="http://localhost:8080/eval1_server/WebService1"/>
</port>
</service>
</definitions>